* {
    box-sizing: border-box;
}


body{
    padding: 0;
    margin: 0;   
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
height: 100%;
}

.main_container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 30vh;
font-family: 'Karla', sans-serif;
}

.golden{
     background-color: gold;
}

.main_h1{

font-size: 29px;
background: linear-gradient(to right bottom , greenyellow, gold, goldenrod, gold );
  -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
background-clip: text;
}

.main_p{
 font-size: 16px;
  margin-top: -8px;
background: linear-gradient(to right ,  gold, goldenrod,black,gold, gold );
  -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
}

.main_btn{
margin-top: 20px;
width: 150px;
height: 50px;
background:  linear-gradient(to right , gold,goldenrod,gold, goldenrod,  gold); 

border-radius: 10px;
color: white;
border: none;
outline: none;
cursor: pointer;

}

.main_btn:active{
box-shadow:   inset 5px 5px 10px -3px rgba(0,0,0, 0.7)  
}

.main_btn:focus{
outline: none;  
}

.main_btn:hover{
color: ghostwhite;
background:  linear-gradient(to right , goldenrod, gold, goldenrod, gold, goldenrod); 

}



/* /////App Quzes //////// */


.Quiz_container{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
text-align: center;
align-items: center;

 
}


li{
    margin: 10px;
    list-style-type: none;
  border: 1px solid goldenrod;
  border-radius: 10px;
  padding: 4px;
  
}





ul{
    display: flex;
    flex-direction: row;
    
}
p{
    margin: 50px;
color: goldenrod;
font-weight: 700;
}


 .input_radio:checked+label {
    background-color:rgb(255, 215, 0, 0.4) ;
}
label{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 11px;
    cursor: pointer;
    border: 1px solid gold;
    margin: 0px 10px 0 0; 
border-radius: 10px;
color: goldenrod;

}

.Quiz_p{
    margin-bottom: -1px;
}

.blue{
    background-color: blue;
}
.gold{
    background-color: gold;
}

.btnchoice{
    border: none;
    border-radius: 10px;
    border: 1px solid gold;
 padding: 5px;
 background-color: gold;
 cursor: pointer;
}

.btnchoice:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0,0,0, 0.7);
}

.btnchoice:focus{
    outline: none;
}

.container{
    margin: -5px;
    margin-top: -20px;
    justify-content: center;
     display: grid;
     padding: 10px;
      grid-template-columns: auto auto auto auto ;
}

.div_main{
    margin-top: 29px;
    border-bottom: 0.25px solid goldenrod;
     border-width: -50px;
}

.Main_app_container{
    justify-content: center;
    
    align-content: center;
    width: 500px;
display: flex;
flex-direction: column;
    margin: auto auto;
    background-color: rgba(27, 27, 25, 0.678);

}

.main_container{
    justify-content: center;
align-items: center;
text-align: center;
display: flex;
    margin-top: 35px; 
    filter: brightness(3);
  
    
}


.btnchoice_selected{
      box-shadow: inset 5px 5px 10px -3px rgba(0,0,0, 0.7);
 background-color: rgb(82, 82, 82);
  filter: brightness(2);
  cursor: pointer;
}

.btnchoice_selected:focus{
outline: none;
}

.gre{
    background-color:  blue;
}

.re{
    background-color: rgb(102, 104, 1);
}
.wrong{
    background-color: tomato;
}


.valid_container{
    display: flex;
   
    justify-content: center;
  
    align-items: center;
}
.app_container{
   margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    align-content: center;
    background-color: rgba(105,105,105);
    width: auto;
max-width: 600px;
 min-width: auto;
   scrollbar-track-color: red;
   -webkit-overflow-scrolling:auto;
   -moz-overflow-scrolling:auto;
   -ms-overflow-scrolling:auto;
  margin: 0px auto 0px auto;
 height: 100%;
overflow:auto;
padding-bottom: 100px;

}

::-webkit-scrollbar {
  width: 20px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: goldenrod; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: gold; 
}

.valid_container{
    
    border-radius: 10px;
    margin-bottom: 30px;
}

.valid_container button{
    padding: 10px;
    
    border-radius: 20px;
   border: 1px solid goldenrod;
     margin-top:40px; 
     cursor: pointer;
     color: goldenrod;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       font-weight: bold;
}

.valid_container p{
    margin-top: 90px;
    font-size: 20px;
    
}

.start_page{
    background-color: rgba(251,194,0,255);
    justify-content: center;
    padding: 10px;
    align-items: center;
    align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;
position: relative;
}

.start_page h1{
    margin-top: 20px;
    font-size:  2em;
    background: -webkit-linear-gradient( bottom,rgba(251,194,0,0.2),black,rgba(251,194,0,0.2), black, rgba(251,194,2));
    -webkit-background-clip:  text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.start_page p{
    margin-top: -10px;
}

.start_page button{
    margin-top: -20px;
    padding: 10px;
    width: 140px;
    border: 1px solid goldenrod;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;

}

.start_page button:focus{
    
    outline: none;
}



.start_page button:hover{

filter: brightness(1);
background-color: white;
color:  rgba(251,194,0,255);
    box-shadow:  2px 1px 10px 3px whitesmoke;

}
.big{

height: 100vh;
 margin: auto;
  justify-content: center;
  text-align: center;
 

}
.bigy{

    color: rgb(243, 243, 0);


animation: fadeIn 2s;
animation-iteration-count: infinite;
font-size: 2rem;
}


     
@-webkit-keyframes fadeIn {
    0%{  
        opacity: 0; }
       100%{
         opacity:  1;  }
     }
     
     @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-moz-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-webkit-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-o-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-ms-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }


.resized{
    width: 400px;
    margin-left: auto;
    margin-right: auto;

}
.ancor{
    text-decoration: none;
    color:  inherit;
}

.container{
    margin-bottom: 2px;
}
.dark{
        background-image: url(blob/quiz.jpg)

    }
.btn_validate:focus{
    
    outline: none;
}

.btn_validate:active{
    
    box-shadow: inset 5px 5px 10px -3px black;
    background-color: rgba(251,194,0,255);
    color: white;
    }
    

.blobs{
    background-color: aquamarine;
    
width: 100%;
}


.blob1{

width: 297px;
height: 235px;
background-image: url(blob/blobs1.png);
position: fixed;
top:0;
right: 0;
margin-right: -120px;
/*margin-right: -16vmax; */
background-repeat: no-repeat;

z-index: 6;

}

.blob2{
    width: 297px;
    height: 235px;
    background-image: url(blob/blobs2b.png);
    position: fixed;
    bottom: -20%;
    left: 0;
    
    /*margin-left: -16vmax; */
    background-repeat: no-repeat;
    
    z-index: 6;
}


.fblob{

    width: 297px;
    height: 235px;
    background-image: url(blob/firstblob1.png);
    position: fixed;
    top:0;
    right: 0;
    margin-right: -120px;
    /*margin-right: -16vmax; */
    background-repeat: no-repeat;
    
    z-index: 6;
    
    }
    
    .sblob2{
        width: 297px;
        height: 235px;
        background-image: url(blob/secblob2.png);
        position: fixed;
        bottom: 0;
        left: 0;
        margin-bottom: -25vh;
        /*margin-left: -16vmax; */
        background-repeat: no-repeat;
        
        z-index: 0;
    }

    @media screen and (max-width: 600px){
      
        
        .btnchoice{
            font-size: 0.80rem;
        }
        
        .div_main{
          
          align-content: center;
          text-align: center;
          align-items: center;
         
        }

        .fblob{
            
            width: 297px;
            height: 235px;
            background-image: url(blob/firstblob1.png);
            position: fixed;
            top:0;
            right: 0;
            margin-right: -190px;
            /*margin-right: -16vmax; */
            background-repeat: no-repeat;
            
            z-index: 6;
            
            }
           
            
            .sblob2{
                width: 237px;
                height: 235px;
                background-image: url(blob/secblob2.png);
                position: fixed;
                bottom: 0;
                left: 0;
                margin-bottom: -35vh;
                /*margin-left: -16vmax; */
                background-repeat: no-repeat;
                
                z-index: 0;
            }
        
        .div_main p{
             font-size: 0.90em;
            width: 300px
           
        
        }
       

    
        .container{
        display: grid;
      grid-template-columns: auto auto auto auto ;
       
        
        }
        .Main_app_container{
            justify-content: center;
            width: 25rem;
            padding: 0px;
            margin-left: auto ;
            margin-right: auto;
        }
    }
    
@media screen and (max-width: 280px) {
    body{
        background-color: black;
    }
    .dark{
        background-image: url(blob/quiz.jpg);
         width: 100%;
         margin-left: auto;
         background-color: black;
    }
}

     @media screen and (max-width: 406px){
      .Main_app_container{
            justify-content: center;
            
            padding: 0px;
            margin-left: auto ;
            margin-right: auto;
        }

        .fblob{
            
            width: 297px;
            height: 235px;
            background-image: url(blob/firstblob1.png);
            position: fixed;
            top:0;
            right: 0;
            margin-right: -190px;
            /*margin-right: -16vmax; */
            background-repeat: no-repeat;
            
            z-index: 6;
            
            }
           
            
            .sblob2{
                width: 237px;
                height: 235px;
                background-image: url(blob/secblob2.png);
                position: fixed;
                bottom: 0;
                left: 0;
                margin-bottom: -35vh;
                /*margin-left: -16vmax; */
                background-repeat: no-repeat;
                
                z-index: 0;
            }
     }
     
     
     @media screen and (max-width: 392px){
         
         .Main_app_container{
     margin: auto;
     padding: auto;
        display: flex;
       
          width: 0;  
          justify-content: center;
          align-content: center;
          align-items: center;
              
        }
        
        .div_main{
            width: auto;
            text-align: center;
        padding: 10px;
        display: flex;
        flex-direction:  column;
        justify-content: center;
        align-content: center;
        align-items: center;
        }
        .div_main p{
            width: 14.5rem;
        font-size: 0.8rem;
        text-align: center;
        }
          .container button{
              font-size:  0.60rem;
              padding: 4px;
              margin-left: -1px;
              margin-right: -4px;
              
          }
          

           .container{
        display: grid;
      grid-template-columns: auto auto auto auto ;
       
        
        }
        

        
            
            
            .fblob{
            
                width: 297px;
                height: 235px;
                background-image: url(blob/firstblob1.png);
                position: fixed;
                top:0;
                right: 0;
                margin-right: -190px;
                /*margin-right: -16vmax; */
                background-repeat: no-repeat;
                
                z-index: 6;
                
                }
               
                
                .sblob2{
                    width: 237px;
                    height: 235px;
                    background-image: url(blob/secblob2.png);
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    margin-bottom: -28vh;
                    /*margin-left: -16vmax; */
                    background-repeat: no-repeat;
                    
                    z-index: 0;
                }
                .Main_app_container{
                   width: 100px;
               background-color: rgba(240, 248, 255, 0);
                   justify-content: center;
                   align-items: center;
                   align-content: center;
                     }
                
                .div_main{
                  
                    background-color: transparent;
                 
                }
                .dark{
                    background-image: url(blob/quiz.jpg);
                     width: 100vw;
                     margin-left: auto;
                     margin-right: auto;
                }

     }
     
 
   .contai{
    display: flex;
    justify-content: space-between;
   }
   .contai button{
padding: 3px;
margin-left: 10px;
   }